@import '../../scss/buttons';
@import '../../scss/clearfix';


:local .className {
    position: fixed;
    top: 60px;
    width: 637px;
    height: calc(100vh - 60px);
    right: 0;
    z-index: 9;
    overflow: hidden;
    background: #f7f7f7;
    box-shadow: 0 3px 3px #8c8b8b;
    transition: right .7s;
}

:local .collapsed {
    right: -637px;
}


:local .productsList {
    padding: 10px;
    height: calc(100% - 70px);
    overflow-y: auto;
}

:local .product {
    @include clearfix;
    border-bottom: 1px solid #ccc;
}

:local .removeWrapper {
    float: left;
    padding: 13px 10px;
}

:local .btnRemove {
    @include resetButtonStyles();
}

:local .photoWrapper {
    float: left;
    padding: 10px;

}

:local .photo {
    float: left;
    width: 30px;
    max-height: 30px;
}

:local .nameWrapper {
    float: left;
    width: 300px;

    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    padding: 13px 10px;
}


:local .cartInputWrapper {
    float: right;
    padding: 2px 0 0 0;
}

:local .priceWrapper {
    float: right;
    padding: 13px 10px;
    width: 130px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:local .tabButton {
    @include resetButtonStyles();
    padding: 4px 7px;
    width: 25%;
    position: relative;
    background: #023466;
    text-align: center;
    border-right: 2px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
}

:local .tabButtonDisabled {
    color: #5d5d5d;
}

:local .tabButtonActive {
    background-color: #f7f7f7;
    color: #023466;
}


:local .totals {
    @include clearfix;
    padding: 10px 15px;
    border-top: solid 1px #ccc;
}

:local .button {
    @include resetButtonStyles();
    color: #fff;
    border: 1px solid #46b8da;
    padding: 1px 5px;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
    background: #3d5165 none;
    padding: 4px 7px;
}

:local .hidden {
    display: none;
}
:local .floatRight {
    float: right;
}

:local .deliveryMethod {
    padding: 15px;
}
