:local .className {
    height: calc(100vh - 125px);
    overflow-x: hidden;
    overflow-y: auto;
}

:local .category {
    display: block;
}

:local .categorySecond {

    :local .link {
        padding-left: 30px;
    }
}

:local .categoryThird {

    :local .link {
        padding-left: 50px;
    }
}

:local .categoryFourth {

    :local .link {
        padding-left: 70px;
    }
}

:local .link {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    background: linear-gradient(180deg,#eee 5%,#eee 0,#f0f0f0 51%,#f5f5f5 92%);
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #fff;

    font-size: 14px;
    line-height: 20px;
    color: #333;
    color: inherit;
}