:local .className {
    display: block;
    width: 100%;
    height: 34px;
    padding: 4px 7px;
    font-size: 14px;
    line-height: 1.7;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

:local .readOnly {
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 1rem;
    background-color: transparent;
    &:focus {
        outline: none;
    }
}