@import '../../scss/grid';
@import '../../scss/clearfix';
@import '../../scss/buttons';


@mixin textOverflow() {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:local .className {
    @include clearfix;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

:local .open {
    border-top: 3px solid #a8cbf8;
    border-bottom: 3px solid #a8cbf8;
}

:local .inCart {
    background-color: #f0f0f0;
}
:local .title {
    @include clearfix;
    cursor: pointer;
}

:local .w5 {
    @include column(5%);
    @include textOverflow()
}

:local .w10 {
    @include column(10%);
    @include textOverflow();
}

:local .w15 {
    @include column(15%);
    @include textOverflow();
}

:local .w45 {
    @include column(45%);
    @include textOverflow()
}

:local .photo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

:local .article,
:local .name,
:local .attributesList,
:local .price {
    padding: 8px 0;
}


:local .tabLinks {
    @include clearfix;
    position: relative;
    bottom: -1px;
}

:local .tabLink {
    @include resetButtonStyles;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 4px;
    padding: 5px 10px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
}

:local .tabLinkActive {
    background-color: #fff;
    border-bottom-color: transparent;
}

:local .tabContent {
    border: 1px solid #ccc;
    padding: 15px;
    display: none;
}

:local .tabContentActive {
    display: block;
}

:local .propsList {
    list-style: none;
    margin: 0;
    padding: 0;
}

:local .attribute {
    @include resetButtonStyles();
    background-color: #999;
    padding: .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    cursor: pointer;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    max-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        background-color: gray;
    }
}

:local .attributeSelected {
    background-color: #5095cf;

    &:hover {
        background-color: #5095cf;
    }
}

:local .details {
    display: none;
    margin-top: 15px;
}

:local .detailsShown {
    display: block;
}