@import '../../scss/grid';
@import '../../scss/clearfix';
@import '../../scss/buttons';


@mixin textOverflow() {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:local .loading {
    padding: 10px 0 30px 0;
};
:local .className {
    padding: 15px 15px 0 15px;
    float: left;
    width: 83.33333%;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
}

:local .flexTop {

}

:local .flexBottom {
    overflow-y: auto;
}

:local .listWrapper {
    padding: 15px 0;
}
:local .headline {
    @include clearfix;

    box-shadow: 0 2px 2px grey;
    margin-bottom: 4px;
    margin-top: 15px;
}

:local .product {
    @include clearfix;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
:local .productOpen {
    border-top: 3px solid #a8cbf8;
    border-bottom: 3px solid #a8cbf8;
}
:local .productTitle {
    @include clearfix;
    cursor: pointer;

}

:local .w5 {
    @include column(5%);
    @include textOverflow()
}

:local .w10 {
    @include column(10%);
    @include textOverflow();
}

:local .w15 {
    @include column(15%);
    @include textOverflow();
}

:local .w45 {
    @include column(45%);
    @include textOverflow()
}

:local .mainPhoto {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

:local .article,
:local .name,
:local .attributesList,
:local .price {
    padding: 8px 0;
}

:local .inputWrapper {
    @include clearfix;
    position: relative;
    display: inline-block;
    float: left;
        padding: 7px 0px;
}

:local .input {
    width: 31px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 0;
    border-right: none;
    padding: 2px;
    text-align: center;
    height: 28px;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

:local .btn {
    height: 14px;
    display: block;
    border-bottom: 1px solid #ccc;

    font-size: .5em;
    padding: 2px 3px;
}

:local .btnDecrement {
    border-top: none;
}

:local .btnAdd {
    @include resetButtonStyles();
    width: 30px;
    height: 28px;
    color: #333;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 10px;
    float: left;
    margin-top: 7px;
    padding-top: 6px;
    > img {
        width: 20px;
    }
}


:local .tabLinks {
    @include clearfix;
    position: relative;
    bottom: -1px;
}

:local .tabLink {
    @include resetButtonStyles;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 4px;
    padding: 5px 10px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
}

:local .tabLinkActive {
    background-color: #fff;
    border-bottom-color: transparent;
}

:local .tabContent {
    border: 1px solid #ccc;
    padding: 15px;
    display: none;
}

:local .tabContentActive {
    display: block;
}

:local .propsList {
    list-style: none;
    margin: 0;
    padding: 0;
}

:local .attribute {
    @include resetButtonStyles();
    background-color: #999;
    padding: .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    cursor: pointer;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    max-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        background-color: gray;
    }
}

:local .attributeSelected {
    background-color: #5095cf;

    &:hover {
        background-color: #5095cf;
    }
}

:local .productDetails {
    display: none;
    margin-top: 15px;
}

:local .productDetailsShown {
    display: block;
}