@import '../../scss/grid';
@import '../../scss/clearfix';
@import '../../scss/buttons';


@mixin textOverflow() {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:local .loading {
    padding: 10px 0 30px 0;
};
:local .className {
    padding: 15px 15px 0 15px;
    float: left;
    width: 83.33333%;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
}

:local .flexTop {

}

:local .flexBottom {
    overflow-y: auto;
}

:local .listWrapper {
    padding: 15px 0;
}
:local .headline {
    @include clearfix;

    box-shadow: 0 2px 2px grey;
    margin-bottom: 4px;
    margin-top: 15px;
}

:local .w5 {
    @include column(5%);
    @include textOverflow()
}

:local .w10 {
    @include column(10%);
    @include textOverflow();
}

:local .w15 {
    @include column(15%);
    @include textOverflow();
}

:local .w45 {
    @include column(45%);
    @include textOverflow()
}

:local .article,
:local .name,
:local .attributesList,
:local .price {
    padding: 8px 0;
}
