@import '../../scss/clearfix';
@import '../../scss/grid';
@import '../../scss/buttons';
@import '../../scss/vars';

$height: 60px;

:local .className {
    @include clearfix;

    height: $height;
    background-color: #023466;

    @media print {
      display: none;
    }
}

:local .floatLeft {
    float: left;
    height: $height;
}

:local .floatRight {
    float: right;
    height: $height;
}

:local .logo {
    float: left;
    width: 16.66667%;
    border-right: 1px solid #6b7682;
    padding: 10px 15px;
}

:local .title {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

:local .link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

:local .phone {
    display: block;
}

:local .navigation {
    @include clearfix;
    display: inline-block;
    position: relative;
}

:local .item {
    float: left;
    position: relative;
}

:local .itemActive {
    &:before {
        content: ' ';
        width: 10px;
        height: 10px;
        background-color: white;
        position: absolute;
        transform: rotate(45deg);
        bottom: -5px;
        left: 42%;
        z-index: 100000;
    }
}

:local .navigationLink {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    font-size: 12px;
}

:local .icon {
    display: block;
    text-align: center;
    font-size: 14px;
}

:local .loaderIconImage {
    width: 23px;

}

:local .cartInfo {
    display: block;

    :local .icon {
        float: right;
        margin-top: 4px;
    };
}

:local .dropdown {
    display: none;
    left: 0;
    width: 950px;
    position: absolute;
    border: solid 1px #ccc;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
}

:local .dropdownOpen {
    display: block;
}

:local .dropdownContent {
    padding: 15px;
    max-height: 350px;
    overflow-y: auto;
}


:local .btnPrint {
    @include resetButtonStyles;
    color: #2196f3;
}


:local .dropdownSmall {
    width: 230px;
    right: 0;
    left: auto;
}